@font-face {
    font-family: neo;
    src: url(../fonts/neo_sans_arabic.ttf);
}
.text-primary{
    color: #24ac99 !important;
}
.bg-primary{
    background-color: #24ac99 !important;
}
.text-secondary{
    color: #62dae0 !important;
}
.bg-secondary{
    background-color: #dff4f5 !important;
}

a.bg-primary:focus, a.bg-primary:hover, button.bg-primary:focus, button.bg-primary:hover {
    background-color: #158a7a!important;
}
body{
    font-family: neo,sans-serif;
}
img{
    max-width: 100%;
}
.img-fluid{
    width: 100%;
}

.header-navbar.navbar-light .navbar-nav .active>.nav-link, .header-navbar.navbar-light .navbar-nav .nav-link.active, .header-navbar.navbar-light .navbar-nav .nav-link.show, .header-navbar.navbar-light .navbar-nav .show>.nav-link {
    color: #03305d;
    background-color: #FFF;
    border-radius: 22px;
}
.header-navbar.navbar-light .navbar-nav .nav-link:focus, .header-navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #03305d;
    background-color: #FFF;
    border-radius: 22px;
}
.header-navbar.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
    font-size: 18px;
}
.carousel-wrapper{
    position: relative;
}
.download-apps{
    position: absolute;
    width: 25%;
    bottom: 50%;
    right: 10%;
    z-index: 2;
}
.download-apps img{
    height: 50px;
}
.about-content{
    text-align: center;
    border: 1px solid darkgray;
    padding: 30px;
    border-radius: 20px;
    font-size: 20px;
    line-height: 40px;
}
.statistics-icon{
    display: block;
    margin: 5px auto 30px auto;
    height: 100px;
}
.categories-item{
    text-align: center;
    position: relative;
}
.categories-item a{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.categories-item .img-box{
    height: 150px;
    width: 150px !important;
    margin: 10px auto;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    padding: 5px;
}
.categories-item img{
    width: auto !important;
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.join-us-box{
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 15px;
}
.join-us-box img{
    height: 30px;
    margin-left: 15px;
}
.join-btn{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #444444;
    text-align: center;
    margin: 0 auto;
}
.join-btn i{
    line-height: 50px;
}
.footer-nav li a{
    color: #FFF;
}
.social-links a {
    color: #FFFFFF;
    margin: 5px;
}
.page-head{
    margin-bottom: 30px;
}
.job-post{
    border: 1px solid #c9c9c9;
    border-radius: 20px;
    padding: 30px;
    margin-bottom: 30px;
}
.job-post .btn{
    border-radius: 20px;
    padding: 10px 40px;
}
.btn-gray{
    background-color: #696969;
    color: #ffffff;
}
.form-control{
    border-radius: 20px;
}
.offer-post,.offer-cover{
    position: relative;
}
.offer-badge{
    position: absolute;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: darkred;
    color: #ffffff;
    text-align: center;
    top: 15px;
    left: 0;
}
.offer-link{
    position: absolute;top: 0;left: 0;right: 0;bottom: 0;z-index: 2;
}
.upload-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 0 auto;
}
.upload-image img{
    border: 1px solid #c9c9c9;
    border-radius: 15px;
    padding: 30px;
    height: 130px;
}
.upload-image input{
    display: none;
}
.categories-head{
    padding: 30px 15px;
    margin-top: -75px;
    border-radius: 15px;
    z-index: 2;
    text-align: center;
    background-color: #ffffff;
}
.become-a-partner{
    padding-bottom: 150px;
}

.become-a-delivery ul li{
    margin-bottom: 10px;
}

.promo-code{
    background-color: #f1f1f1;
}

@media (max-width: 768px) {
    .download-apps{
        bottom: 10px;
    }

    .download-apps h2{
        font-size: 17px !important;
        margin-bottom: 10px !important;
    }

    .download-apps img{
        height: 35px;
    }
    .header-navbar.navbar-light .navbar-nav .nav-link{
        text-align: center;
    }

    .footer-nav li a{
        text-align: center;
    }
}