.nav-tabs{
    border-bottom: 0;
}
.nav-tabs .nav-link{
    background-color: #f5f5f5 !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.nav-tabs .nav-link{
    color: #00488f !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    background-color: #24ac99 !important;
    color: #ffffff !important;
}
